# Please see the documentation for all configuration options:
# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates
# and
# https://docs.github.com/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file

version: 2
updates:
  - package-ecosystem: npm
    directory: "/"
    schedule:
      interval: weekly
      time: "11:00"
    open-pull-requests-limit: 10
    versioning-strategy: increase-if-necessary
    groups:
      patch-deps-updates-main:
        update-types:
          - "patch"
      minor-deps-updates-main:
        update-types:
          - "minor"
      major-deps-updates-main:
        update-types:
          - "major"
  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: weekly
      time: "11:00"
    open-pull-requests-limit: 10
    groups:
      patch-deps-updates:
        update-types:
          - "patch"
      minor-deps-updates:
        update-types:
          - "minor"
      major-deps-updates:
        update-types:
          - "major"