# ------------------LangSmith tracing------------------
LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT="https://api.smith.langchain.com"
LANGCHAIN_API_KEY=
LANGCHAIN_PROJECT=
# -----------------------------------------------------

# PostgreSQL connection string for the store
POSTGRES_URL=postgresql://user:password@localhost:5432/database

# Test database connection string
TEST_POSTGRES_URL=postgresql://postgres:postgres@localhost:5434/testdb