# ------------------LangSmith tracing------------------
LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT="https://api.smith.langchain.com"
LANGCHAIN_API_KEY=
LANGCHAIN_PROJECT=
# -----------------------------------------------------

# AWS Bedrock AgentCore Memory configuration
AWS_REGION=<aws-region>
AGENTCORE_MEMORY_ID="agent_core_memory_id_for_checkpointer_testing-F6suJWCsg"