mkdocs
mkdocstrings
mkdocs-jupyter
mkdocs-redirects
mkdocs-minify-plugin
mkdocs-rss-plugin
mkdocs-material[imaging]
mkdocs-typedoc
markdown-include
markdown-callouts
git+ssh://git@github.com/langchain-ai/mkdocs-material-insiders.git
